<div class="container">
    <div class="row">
        <div class="col-3">
            <filter [category]="category"></filter>
        </div>
        <div class="col-md-9">
            <div class="row">
                <ng-container *ngFor="let p of filteredProducts; let i = index" >
                    <div class="col-md-6">
                        <product-card [product]='p'></product-card>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>  
</div>



